<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <!-- Favicons -->
    <link href="~/Content/img/logo_LE.jpg" rel="icon">
    <link href="~/Content/img/logo_LE.jpg" rel="apple-touch-icon">
    <title>劉毅英文</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="8X0p4eGFT-vRR2KR76dcA8KN0T6wYHccBjS0pNpc3Pw" />
    <meta property="og:title" content="劉毅英文補習班" />
    <meta name="keywords" content="劉毅補習班,國中保證班,高中保證班,升大學補習班,升高中補習班,落點分析,學測班,全科班,衝刺班,劉毅英文補習班,英文補習班,國中英文班,國中全科班,高中英文班,高中全科班,成人美語班,兒童美語班,指考複習班,TOEIC多益" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet">
    <!-- Nav CSS Files -->
    <link href="~/Content/css/NewNavBar.css?19911212" rel="stylesheet" />
    <!-- Libraries CSS Files -->
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/lib/animate/animate.min.css" rel="stylesheet">
    <link href="~/lib/venobox/venobox.css" rel="stylesheet">
    <link href="~/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    @*<link src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.35.4/css/bootstrap-dialog.min.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.35.4/js/bootstrap-dialog.min.js"></script>*@
    <link href="~/Content/bootstrap-dialog.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap-dialog.js"></script>


    <!-- Main Stylesheet File -->
    <link href="~/lib/style.css?20181213" rel="stylesheet">

    <!-- JavaScript Libraries -->

    <script src="~/lib/jquery/jquery-migrate.min.js"></script>

    <script src="~/lib/easing/easing.min.js"></script>
    <script src="~/lib/superfish/hoverIntent.js"></script>
    <script src="~/lib/superfish/superfish.min.js"></script>
    <script src="~/lib/wow/wow.min.js"></script>
    <script src="~/lib/venobox/venobox.min.js"></script>
    <script src="~/lib/owlcarousel/owl.carousel.min.js"></script>
    <!-- Template Main Javascript File -->
    <script src="~/js/main.js"></script>

</head>


<body>

    <!-- Global site tag (gtag.js) - Google Analytics-->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123368065-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-123368065-1');
    </script>
    <!--==========================
      Header
    ============================-->
    <header id="header">
        <div class="container">
            <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div id="logo" class="pull-left">
                            <!-- Uncomment below if you prefer to use a text logo -->
                            <h1><a>劉<span>毅</span>英文</a></h1>
                        </div>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                        <ul class="nav navbar-nav navbar-right">
                            <li class="active"><a href="/Liu/Index" style="font-size:18px;color:white">首頁</a></li>
                            <li class="dropdown">
                                <a style="font-size:18px;" href="#" class="dropdown-toggle" data-toggle="dropdown">課程介紹 <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/ChildLesson/Index" style="font-size:18px;">兒童部</a></li>
                                    <li><a href="/JuniorLesson/Index" style="font-size:18px;">國中部</a></li>
                                    <li><a href="/HighLesson/Index" style="font-size:18px;">高中部</a></li>
                                    <li><a href="/AdultLesson/Index" style="font-size:18px;">成人部</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a style="font-size:18px;" href="#" class="dropdown-toggle" data-toggle="dropdown">教材介紹 <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/Book/elementary_school" style="font-size:18px;">國小書籍</a></li>
                                    <li><a href="/Book/junior_school" style="font-size:18px;">國中書籍</a></li>
                                    <li><a href="/Book/High_school" style="font-size:18px;">高中書籍</a></li>
                                </ul>
                            </li>
                            <li><a href="/Video/Media" style="font-size:18px;color:white">新聞報導</a></li>
                            <li><a href="/Video/Lesson" style="font-size:18px;color:white">上課實況</a></li>
                            <li><a href="~/ScholarShip/Index" style="font-size:18px;color:white">學生獎學金</a></li>
                            <li><a href="~/Impression/Index" style="font-size:18px;color:white">學生心得</a></li>
                            <li><a href="http://www.learnbook.com.tw/" target="_blank" style="font-size:18px;color:white">學習出版社</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-collapse -->
            </nav>
        </div>
    </header><!-- #header -->
    <!--==========================
      Intro Section
    ============================-->

    <section id="intro">
        <div class="intro-container wow fadeIn">
            <h1 class="mb-4 pb-0">歡迎來到<br><span>劉毅英文</span> 教育機構</h1>
            <p class="mb-4 pb-0">台北市中正區許昌街17號6樓</p>
            <a href="https://www.youtube.com/embed/a_GLIOkur94" class="venobox play-btn mb-4" data-vbtype="video"
               data-autoplay="true"></a>
            <!--<a href="#about" class="about-btn scrollto">About The Event</a>-->
        </div>
    </section>
    <main id="main">
        <!--==========================
          About Section
        ============================-->
        <section id="about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <h2>創辦人 劉毅老師</h2>
                        <p>
                            劉毅英文教育機構成立40年，致力於教育事業，並投注大量人力物力在英文教育上。
                            最具實力的英文家教班，而且口碑第一的劉毅品牌，奠定我們在補教界深厚的根基。
                        </p>
                    </div>
                    <div class="col-lg-3">
                        <h3>地點</h3>
                        <p>台北市許昌街17號6F</p>
                    </div>
                    <div class="col-lg-3">
                        <h3>營業時間</h3>
                        <p>Monday to Friday<br> 15:00-21:30</p>
                        <p>Saturday to Sunday<br>08:30-21:30</p>
                    </div>
                </div>
            </div>
        </section>
        @RenderBody()
        <!--==========================
          Venue Section
        ============================-->
        <section id="venue" style="padding: 60px 0;" class="wow fadeInUp">
            <div class="container-fluid">
                <div class="section-header">
                    <h2>位置介紹</h2>
                    <p>
                        本補習班位於壽德大樓，座落於台北捷運車站８號出口正對面，也有多輛的公車站牌，便利的交通及優美的上課環境。
                    </p>
                </div>
                <div class="row no-gutters">
                    <div class="col-lg-6 venue-map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3614.6534958227026!2d121.51463821462313!3d25.04583064397189!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442a972fed44ab7%3A0xa86945d9ac2afaba!2zMTAw5Y-w5YyX5biC5Lit5q2j5Y2A6Kix5piM6KGXMTctMeiZnzZG!5e0!3m2!1szh-TW!2stw!4v1543661355017" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                    <div class="col-lg-6 venue-info">
                        <div class="row justify-content-center">
                            <div class="col-11 col-lg-8">
                                <h3>環境介紹</h3>
                                <p>舒適的上課環境及優良的教學師資及對學生的課後輔導，讓我們一起努力帶領你們考上最好的志願.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid venue-gallery-container">
                <div class="row no-gutters">
                    <div class="col-lg-3 col-md-4">
                        <div class="venue-gallery">
                            <img src="~/img/venue-gallery/env1.jpg" alt="" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <div class="venue-gallery">
                            <img src="~/img/venue-gallery/env4.jpg" alt="" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <div class="venue-gallery">
                            <img src="~/img/venue-gallery/env5.jpg" alt="" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <div class="venue-gallery">
                            <img src="~/img/venue-gallery/env6.jpg" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <!--==========================
          Subscribe Section
        ============================-->
        <section id="subscribe">
            <div class="container wow fadeInUp">
                <div class="section-header">
                    <h2>電子報</h2>
                    <p>填寫您的Email我們將會寄最新的上課訊息給您.</p>
                </div>
                <form>
                    <div class="form-row justify-content-center">
                        <div class="col-auto">
                            <input type="text" name="EDM" id="EDM" class="form-control" placeholder="Enter your Email">
                        </div>
                        <div class="col-auto">
                            <button type="button" id="EDMBtn">Subscribe</button>
                        </div>
                    </div>
                </form>
            </div>
        </section>

        <!--==========================
          Contact Section
        ============================-->
        <section id="contact" class="section-bg wow fadeInUp">
            <div class="container">
                <div class="section-header">
                    <h2>預約試聽</h2>
                    <p>同學們!!趕快填寫預約試聽一起加入劉毅補習班這個大家庭.</p>
                </div>
                <div class="row contact-info">
                    <div class="col-md-4">
                        <div class="contact-address">
                            <i class="ion-ios-location-outline"></i>
                            <h3>位置</h3>
                            <address>台北市許昌街17號6F</address>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="contact-phone">
                            <i class="ion-ios-telephone-outline"></i>
                            <h3>電話</h3>
                            <p><a>02-23895212</a></p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="contact-email">
                            <i class="ion-ios-email-outline"></i>
                            <h3>Email</h3>
                            <p><a>leservice.tw@gmail.com</a></p>
                        </div>
                    </div>
                </div>
                <div class="form">
                    <form method="post" class="contactForm" id="ContactForm">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <input type="text" name="Name" class="form-control" id="name" placeholder="姓名" />
                            </div>
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" name="SchoolName" id="SchoolName" placeholder="學校" />
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" name="Email" id="email" placeholder="信箱" />
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <input type="text" name="Phone" class="form-control" id="Phone" placeholder="手機(必填)" />
                            </div>
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" name="LocalPhone" id="LocalPhone" placeholder="室內電話(非必填)" />
                            </div>
                        </div>
                        <div class="form-group">
                            <select style="width:100%" id="Course" name="Course" onchange="Shomemo(this.value)">
                                <option selected value="">請選擇課程</option>
                                <option value="小六升國七精熟銜接班">小六升國七精熟銜接班</option>
                                <option value="國七升國八超前進度班">國七升國八超前進度班</option>
                                <option value="會考保證班">會考保證班</option>
                                <option value="高一英文課程">高一英文課程</option>
                                <option value="高一數學課程">高一數學課程</option>
                                <option value="高二三英文課程">高二三英文課程</option>
                                <option value="高二數學課程">高二數學課程</option>
                                <option value="學測保證班">學測保證班</option>
                                <option value="TOEIC新制多益課程">TOEIC新制多益課程</option>
                                <option value="GEPT全民英檢中級複試班">GEPT全民英檢中級複試班</option>
                                <option value="高效英文會話">高效英文會話</option>
                                <option value="其他">其他</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="Memo" id="Memo" rows="5" data-msg="Please write something for us" placeholder="Message(非必填)"></textarea>
                        </div>
                        <div class="text-center"><button class="ContactBtn" type="submit" id="ContactSend">送出</button></div>
                    </form>
                </div>
            </div>
        </section><!-- #contact -->
    </main>

    <!--==========================
      Footer
    ============================-->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 footer-info">
                        <h4>劉毅教育機構</h4>
                        <!--logo  <img  alt="Welcome to 劉毅教育機構">-->
                        <p>歡迎有任何想詢問課程，可填寫預約試聽單或致電到台北車站劉毅站前補習班我們將有專人為您服務.</p>
                    </div>
                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>相關連結</h4>
                        <ul>
                            <li><i class="fa fa-angle-right"></i><a style="text-decoration:none;color:white" href="~/Liu/Index">首頁</a></li>
                            <li><i class="fa fa-angle-right"></i><a style="text-decoration:none;color:white" href="~/Video/Media">媒體報導</a></li>
                            <li><i class="fa fa-angle-right"></i><a style="text-decoration:none;color:white" href="~/Video/Lesson">上課實況</a></li>
                            <li><i class="fa fa-angle-right"></i><a style="text-decoration:none;color:white" href="~/Video/Media">媒體報導</a></li>
                            <li><i class="fa fa-angle-right"></i><a style="text-decoration:none;color:white" href="~/Impression/Index">學生心得</a></li>
                            <li><i class="fa fa-angle-right"></i> <a style="text-decoration:none;color:white" href="~/Career/Index">菁英招募</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>課程資訊</h4>
                        <ul>
                            <li><i class="fa fa-angle-right"></i> <a style="text-decoration:none;color:white" href="~/ChildLesson/Index">兒童部</a></li>
                            <li><i class="fa fa-angle-right"></i><a style="text-decoration:none;color:white" href="~/JuniorLesson/Index">國中部</a></li>
                            <li><i class="fa fa-angle-right"></i> <a style="text-decoration:none;color:white" href="~/HighLesson/Index">高中部</a></li>
                            <li><i class="fa fa-angle-right"></i><a style="text-decoration:none;color:white" href="~/AdultLesson/Index">成人部</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h4>聯絡我們</h4>
                        <p>
                            <i class="fa fa-map-marker fa-fw"></i>台北市許昌街17號6F
                        </p>
                        <p>
                            <i class="fa fa-phone fa-fw"></i><span style="color:white">02-23895212</span>
                        </p>
                        <p>
                            <i class="glyphicon glyphicon-hand-right"></i><a style="text-decoration:none;color:white" target="_blank" href="http://line.me/ti/p/%40frg3097b">&nbspLINE</a>
                        </p>
                        <div class="social-links">
                            <a target="_blank" href="https://www.facebook.com/LIU-YI-English-School%E5%8A%89%E6%AF%85%E8%8B%B1%E6%96%87%E6%95%99%E8%82%B2%E6%A9%9F%E6%A7%8B-1800170896968255/#" class="facebook"><i class="fa fa-facebook"></i></a>
                            @*<a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                                <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                                <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong>劉毅英文教育機構</strong>. All Rights Reserved
            </div>
        </div>
    </footer><!-- #footer -->
    <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>
</body>

</html>

