.loginmodal-container {
    padding-top: 20px;
    padding-left: 5px;
    max-width: 380px;
    width: 100% !important;
    background-color: #F7F7F7;
    margin: 0 auto;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    font-family: roboto;
}

    .loginmodal-container h1 {
        text-align: center;
        font-size: 1.8em;
        font-family: roboto;
    }

    .loginmodal-container input[type=submit] {
        width: 100%;
        display: block;
        margin-bottom: 10px;
        position: relative;
    }

    .loginmodal-container input[type=text], input[type=password] {
        height: 44px;
        font-size: 16px;
        width: 100%;
        margin-bottom: 10px;
        -webkit-appearance: none;
        background: #fff;
        border: 1px solid #d9d9d9;
        border-top: 1px solid #c0c0c0;
        /* border-radius: 2px; */
        padding: 0 8px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }

        .loginmodal-container input[type=text]:hover, input[type=password]:hover {
            border: 1px solid #b9b9b9;
            border-top: 1px solid #a0a0a0;
            -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
            -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
            box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
        }

.loginmodal {
    text-align: center;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    font-weight: 700;
    height: 36px;
    padding: 0 8px;
    /* border-radius: 3px; */
    /* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
    /* border: 1px solid #3079ed; */
    border: 0px;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.1);
    background-color: #4d90fe;
    padding: 17px 0px;
    font-family: roboto;
    font-size: 14px;
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

    .loginmodal-submit:hover {
        /* border: 1px solid #2f5bb7; */
        border: 0px;
        text-shadow: 0 1px rgba(0,0,0,0.3);
        background-color: #357ae8;
        /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
    }

.loginmodal-container a {
    text-decoration: none;
    color: #666;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    opacity: 0.6;
    transition: opacity ease 0.5s;
}

.login-help {
    font-size: 12px;
}
/*form-contact*/
.modal-backdrop {
    z-index: 0 !important;
}

.head-line {
    background-color: #f54575;
    z-index: 41;
    position: relative;
    font-size: 18px;
    color: white;
    /*font-weight: bold;
    letter-spacing: 7px;*/
    transition: all 200ms linear;
    display: block;
}

@media (max-width: 992px) {
    .head-line {
        font-size: 14px;
    }
}

.head-line .container {
    /*background: black;*/
    padding: 5px;
    transition: all 200ms linear;
}

.bd-event {
    color: #0256ad;
}

.sw-event {
    color: #d83264;
}

.head-line:hover {
    padding: 20px 5px;
    text-decoration: none;
}

    .head-line:hover .fa {
        padding-left: 5px;
    }

.head-line a {
    padding: 3px 10px;
    display: inline-block;
    /*box-shadow: 0 0 0 1px rgba(255,255,255,.5);*/
    margin-right: 5px;
    border-radius: 50px
}

.head-line:hover, .head-line:visited, .head-line:active {
    color: white;
    text-decoration: none;
}

.head-line .fa {
    color: white;
    transition: all 200ms linear;
}

.head-line a:hover {
    color: white;
}

.news-card {
    text-align: center;
    padding: 2px; /*box-shadow: 0 13px 29px 0 rgba(0, 0, 0, 0.15);*/
    margin-bottom: 10px;
    -moz-transition: box-shadow 200ms;
    -o-transition: box-shadow 200ms;
    -webkit-transition: box-shadow 200ms;
    transition: box-shadow 200ms;
    border-radius: 5px;
}

    .news-card .avatar img {
        border-radius: 100px;
    }

    .news-card .avatar-name {
        font-size: 16px;
        font-weight: bold;
        margin-top: 10px;
    }

    .news-card .school-from {
        color: #aaa;
        font-style: italic;
        font-family: serif;
        font-size: 12px;
    }

    .news-card .experience-content {
        margin-top: 10px;
        text-align: left;
        position: relative;
        z-index: 1;
    }

        .news-card .experience-content:before {
            content: "Ñ‡";
            font-family: "FontAwesome";
            position: absolute;
            top: -30px;
            left: -20px;
            font-size: 36px;
            color: #f4f4f9;
            z-index: -1;
        }

.testimonial1-card:hover {
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.4);
}



/*******/


#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

    #myImg:hover {
        opacity: 0.7;
    }

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* The Close Button */
.closemodal {
    position: absolute;
    top: 55px;
    right: 65px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
}

    .closemodal:hover,
    .closemodal:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }



.img-news {
    padding: 4px;
    line-height: 1.42857143;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 4px;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    max-width: 100%;
    height: 350px;
    width: 380px;
}

.lastnews {
    margin-left: 80px;
    font-weight: 400;
    font-family: µÿ±d¶À≠∑≈ÈW4;
    border-bottom: 5px red solid;
    width: 180px;
}

.introLiu {
    font-size: 12px;
    font-weight: 400;
    font-family: µÿ±d¶À≠∑≈ÈW4;
    margin-bottom: 5px;
    padding: 5px;
    color: white;
    text-align: left;
}


/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }

    .lastnews {
        margin-left: 50px;
    }
    .photo-block {
        height: 800px;
     
      
    }
    .slide-block {
        height:auto;
        padding-bottom:5px;
    }
 
}
/*****/
@media (min-width: 768px) {
    #ContactForm {
    width:100%;
    }

}

